@import "../../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 15%;
    margin-right: 15%;
    color: var(--color-nav);
}

.row {
    align-items: row;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 15%;
    margin-right: 15%;
    color: var(--color-nav);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
    margin-bottom: 3rem;
}
.directionsBtn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
  }
  
  .directionsBtn:hover {
    background-color: #0056b3;
  }
.title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);

    

     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
     
}

.imgJen {
    float: right;
    margin-left: 7%;
    width: 50%;
    image-orientation: from-image;
    height: auto;
}

.imgKris {
    float: left;
    margin-right: 7%;
    width: 50%;
    image-orientation: from-image;
    height: auto;
}

.description {
    font-size: 1.7rem;
    line-height: 1.6;
    font-family: var(--font-roboto);
    overflow: hidden;
    margin-bottom: 52px;
    text-shadow: 2px 2px 5px rgba(128, 0, 128, 0.2);
}

.contactBtn {
    background-color: transparent; /* Makes the background transparent */
    border: none; /* Removes the border */
    color: var(--color-text);
    text-decoration: none;
    font-weight: 300;
    font-size: 0.8rem;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
    padding: 17px 26px;
    text-shadow: 2px 2px 5px rgba(88, 1, 88, 0.2);
    overflow: hidden;
}

.contactDiv {
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: left;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    background-color: var(--color-primary);
    position: absolute;
    left: 0;
    right: 0;
}

.contactBtn:hover {
    transform: scale(1.05);
}








@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
        
    }

    .content {
        align-items: center;
        
    }

    .description {
        font-size: 1.0rem;
    }

    
}

@media screen and (max-width: 430px) {
    .container {
        flex-direction: column-reverse;
        
    }

    .content {
        align-items: center;
        
    }

    .description {
        font-size: 0.8rem;
    }

    
}